@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:wght@300;400;500&display=swap');
@import "tailwindcss";

.mono-font {
  font-family: 'SUSE Mono', monospace;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

html, body {
  overflow-x: hidden;
}
